name: First CI Pipeline

on:
  push:
    branches: [ "master" ]

jobs:
  hello:
    runs-on: ubuntu-latest

    steps:
      - name: Print greeting
        run: echo "Hello from GitHub Actions!"

      - name: Show current date
        run: date

      - name: Show current directory
        run: pwd
